<div id="particles-js" class="fullscreen">
    <div class="jumbotron text-center">
      {% if site.photo %}
      <img class="particles-photo" src="{{ site.photo }}" />
      {% endif %}
      <h1 class="particles-title">{{ site.title }}</h1>
      <h1 class="particles-subtitle">{{ site.taglong }}</h1>
      <div class="nowrap">
        {% if site.social.linkedin %}
        <a class="particles-icon" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank">{% include svg/linkedin.svg %}</a>
        {% endif %}
        {% if site.social.stackoverflow %}
        <a class="particles-icon" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}">{% include svg/stackoverflow.svg %}</a>
        {% endif %}
        {% if site.social.github %}
        <a class="particles-icon" href="https://github.com/{{ site.social.github }}" target="_blank">{% include svg/github.svg %}</a>
        {% endif %}
        {% if site.social.x %}
        <a class="particles-icon" href="https://twitter.com/{{ site.social.x }}" target="_blank">{% include svg/x.svg %}</a>
        {% endif %}
        {% if site.social.facebook %}
        <a class="particles-icon" href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank">{% include svg/facebook.svg %}</a>
        {% endif %}
        {% if site.social.instagram %}
        <a class="particles-icon" href="https://www.instagram.com/{{ site.social.instagram }}" target="_blank">{% include svg/instagram.svg %}</a>
        {% endif %}
        {% if site.social.website %}
        <a class="particles-icon" href="{{ site.social.website }}" target="_blank">{% include svg/send-mail-circled.svg %}</a>
        {% endif %}
        <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
      </div>
    </div>
    <div class="particles-scroll">
      <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
    </div>
  </div>